/* * {
    outline: 1px dotted red;
} */
#display {
    width: 625px;
    margin: auto;
}
.worktype {
    height: auto;
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 25px;
    vertical-align: top;
}
.projectTitle {
    width: 80px;
    display: inline-block;
    margin-right: 65px;
    margin-left: 10px;
}

.time{
    width: 75px;
    display: inline-block;
    margin: 0;
}

.descript {
    width: 150px;
    display: inline-block;
    color: red;
    margin: 0;
}